.c-regular-button{
	min-width: 269px;
	height: 36px;
	color: $colorWhite;
	font-size: 18px;
	font-weight: $fontWeightPrimary;
	line-height: 30px;
	background-color: #4085b5;
	cursor: pointer;
	padding: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	
	&:hover{
		background-color: $colorYellow;
		@include transition;
	}
}