

$maxWidthContainer: 900px;
$fontFamily: "Open Sans";

$accentColor: #57ead9;
$secondaryColor: #ffffff;
$infoColor: #fbf16a;
$lightColor: #cac5c5;
$darkColor: #000000;
$violetColor: #9639e8;

$theme-colors: (
	"accent":    $accentColor,
	"secondary":  $secondaryColor,
	"info":       $infoColor,
	"light":      $lightColor,
	"dark":       $darkColor,
	"violet":     $violetColor
);


