

$maxWidthContainer: 900px;
$fontFamily: "Open Sans";

$fontSizePrimary: 16px;

$accentColor: #57ead9;
$secondaryColor: #ffffff;
$infoColor: #fbf16a;
$lightColor: #cac5c5;
$darkColor: #000000;
$violetColor: #9639e8;

$theme-colors: (
	"accent":    $accentColor,
	"secondary":  $secondaryColor,
	"info":       $infoColor,
	"light":      $lightColor,
	"dark":       $darkColor,
	"violet":     $violetColor
);




$colorPrimary: #000000;
$colorBlue: #267bae;
$colorOrange: #ff9626;
$colorYellow: #ffca08;
$backgroundColorFooter: #f8f8f8;
$colorWhite: #ffffff;
$colorLightGrey: #f9f9f9;
$colorGrey: #787878;

// #4085b5; #303030; #808080; #585858; #d7dcdf; #006ea7; #303030; #cbcb20;


$fontWeightPrimary: 400;
$fontWeightLite: 300;
