@import url("https://fonts.googleapis.com/css?family=Spectral:500&display=swap");
:root {
  --button-size: 50px;
}

body {
  font-size: 24px;
  color: #8f85c4;
  font-weight: 500;
  background-color: #e6ecd1;
  font-family: 'Spectral';
}

.title {
  margin: 50px 5px 25px 5px;
  text-align: center;
  font-size: 40px;
  color: #077d79;
  letter-spacing: 11.5px;
  text-shadow: 1px 5px 10px #c8acea;
}

.calculator {
  width: 240px;
  margin: 0 auto;
  padding: 25px;
  background-color: beige;
  border-radius: 5px;
  outline: 10px solid #fafde4;
}

.input-output-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
}

.input {
  display: block;
  width: 80px;
  height: 40px;
  padding: 5px 10px;
  font-size: inherit;
  border: none;
  border-radius: 5px;
  color: inherit;
  background-color: #9dc2a3;
  font-weight: inherit;
  font-family: inherit;
}

.input:active {
  border: none;
  padding: 3px 7px;
}

.input + .input {
  margin-left: 5px;
}

.output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  border: #446a6d;
  border-radius: 15px;
  padding: 5px 15px;
  color: #ffffff;
  background-color: #446561;
  font-weight: inherit;
  font-family: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.operation-panel {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.clear {
  grid-column: span 2;
}

.equal {
  grid-column: span 2;
}

.number-0 {
  grid-column: span 2;
}

.button {
  border: 1px solid #ced2d6;
  background-color: #a4cdcd;
  min-width: var(--button-size);
  min-height: var(--button-size);
  cursor: pointer;
  border-radius: 5px;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.button:hover {
  background-color: #b2c8db;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:active {
  background-color: #729c9c;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button.equal {
  background-color: #ecdc99;
}

.button.equal:hover {
  background-color: #dbf4b6;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button.equal:active {
  background-color: #b98e5a;
  color: #fafde4;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button.clear {
  background-color: #e4d9f5;
}

.button.clear:hover {
  background-color: #ccb0f5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button.clear:active {
  background-color: #674599;
  color: #fafde4;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.number {
  background-color: #c5f3f3;
}

.number:hover {
  background-color: #9accbd;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.number:active {
  background-color: #ddec91;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
