:root {
  --button-size: 50px;
}

.calculator {
  width: 200px;
  margin: 0 auto;
}

.number-pannel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.number-pannel .button {
  background-color: #c5f3f3;
  width: var(--button-size);
  height: var(--button-size);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27.33%;
          flex: 0 0 27.33%;
}
