:root {
	--button-size: 50px;
}

.calculator {
	width: 200px;
	margin: 0 auto;

}
.number-pannel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

	.button {
		background-color: rgb(197, 243, 243);
		width: var(--button-size);
		height: var(--button-size);
		flex: 0 0 27.33%;
	}
}

